.hero_banner {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 8rem;
}

.hero_img {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}

.hero_subtitle {
  color: var(--clr-slate600);
  font-family: var(--font-secondary);
  font-size: var(--size-base);
  line-height: 0.9;
}

.hero_title {
  color: var(--clr-slate400);
  font-size: var(--size-4xl);
  font-weight: 800;
  line-height: 0.9;
}

.hero_description {
  max-width: 60ch;
  font-family: var(--font-secondary);
  font-size: var(--size-sm);
  color: var(--clr-slate600);
  line-height: 1.4;
  letter-spacing: 0.06em;
}

/*! About CSS */
/*! About CSS */
/*! About CSS */

.about_title {
  font-size: var(--size-2xl);
}

.about_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  text-align: left;
  font-family: var(--font-secondary);
  font-size: var(--size-sm);
  color: var(--clr-slate600);
  margin-top: 1.3rem;
  margin-bottom: 1rem;
}

.about_img-con {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.about_img {
  width: 17rem;
  height: 23rem;
}

/*! Skills CSS */
/*! Skills CSS */
/*! Skills CSS */

.tech {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1rem;
  margin-top: 2rem;
  place-items: center;
}

.logo-con {
  width: 3.5rem;
  height: 3.5rem;
}

/*! Featured CSS */
/*! Featured CSS */
/*! Featured CSS */

.featured_content {
  margin-bottom: 5rem;
}

.featured_text {
  font-family: var(--font-secondary);
  font-size: var(--size-base);
  color: var(--clr-indigo);
}

.featured_title-con {
  display: flex;
}

.featured_icon {
  display: flex;
  align-items: center;
  padding-left: 0.3rem;
  color: var(--clr-pink);
}

.subtitle {
  font-family: var(--font-secondary);
  font-size: var(--size-base);
}

.use_tech-con {
  display: flex;
  justify-content: space-around;
  font-family: var(--font-secondary);
  color: #eff6ff;
  margin-top: 1rem;
}

.use_tech {
  background-color: var(--clr-indigo);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  font-size: var(--size-xs);
}

.screenshot-con {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.images-con {
  position: relative;
}

.images-con::after {
  content: '';
  background-color: rgba(79, 70, 229, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: background-color 0.3s;
}

.images-con:hover::after {
  background-color: rgba(79, 70, 229, 0.1);
}

/*! Project CSS */
/*! Project CSS */
/*! Project CSS */

.project_title {
  text-align: center;
  font-size: var(--size-2xl);
}

.project_description {
  text-align: center;
  font-family: var(--font-secondary);
  font-size: var(--size-sm);
  color: var(--clr-slate600);
  margin-top: 1.3rem;
  margin-bottom: 1rem;
}

.project_content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  height: auto;
  width: 100%;
  margin-top: 3rem;
}

.project_link-con {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "website"
    "details";
  margin-bottom: 2rem;
  place-items: center;
  width: 100%;
}

.title {
  grid-area: title;
  padding-bottom: 1rem;
}
.website {
  grid-area: website;
  overflow: hidden;
  width: 19rem;
  height: 19rem;
  cursor: pointer;
}
.details {
  grid-area: details;
}

.website {
  position: relative;
}

.website::after {
  content: '';
  background-color: rgba(79, 70, 229, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: background-color 0.3s;
}

.website:hover::after {
  background-color: rgba(79, 70, 229, 0.1);
  transform: translateY(-100%);
  transition: transform 0 ease-in-out;
}

.website_img {
  height: auto;
  width: 100%;
  transform: translateY(0%);
  transition: transform 7s ease-in-out 0s;
}

.website_img:hover {
  transform: translateY(-70%);
  transition: transform 7s ease-in-out 0s;
}

.tech_use-con {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  padding: 0;
  font-family: var(--font-secondary);
  font-size: var(--size-xs);
  margin-bottom: 1rem;
}

.tech_use {
  border: 2px solid var(--clr-pink);
  border-radius: 1rem;
  padding: 0.05rem 0.4rem;
  cursor: default;
  transition: 0.3s ease-in-out;
}

.tech_use:hover {
  background-color: var(--clr-pink);
  color: var(--clr-dark);
  transition: 0.3s ease-in-out;
}

.project_name {
  text-align: center;
  font-size: var(--size-xl);
  font-weight: 600;
}

.project_btn-con {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.project_btn {
  text-decoration: none;
}

/*! Contact CSS */
/*! Contact CSS */
/*! Contact CSS */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.contact_title {
  font-size: var(--size-2xl);
  color: var(--clr-light);
  text-transform: capitalize;
}

.contact_description {
  font-family: var(--font-secondary);
  font-size: var(--size-sm);
  color: var(--clr-slate600);
  max-width: 60ch;
}

.contact_btn {
  font-size: var(--size-sm);
}

/*! Footer CSS */
/*! Footer CSS */
/*! Footer CSS */

.footer_social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5rem;
  gap: 1.5rem;
}

.footer_link {
  color: var(--clr-slate400);
  transition: 0.3s ease-in-out;
}

.footer_link:hover {
  color: var(--clr-pink);
  transition: 0.3s ease-in-out;
}

.footer_title {
  text-align: center;
  font-size: var(--size-xs);
  font-weight: 500;
  color: var(--clr-slate600);
}

/* xs */
@media (min-width: 475px) {
  .hero_banner {
    gap: 1.5rem;
  }

  .hero_img {
    width: 6.5rem;
    height: 6.5rem;
  }

  .hero_subtitle {
    font-size: var(--size-lg);
  }

  .hero_title {
    font-size: var(--size-5xl);
  }

  .hero_description {
    font-size: var(--size-base);
  }

  .subtitle {
    font-size: var(--size-lg);
  }

  .tech {
    row-gap: 2rem;
  }

  .website {
    width: 23rem;
    height: 23rem;
  }

  .contact {
    gap: 1.5rem;
  }

  .contact__title {
    font-size: var(--size-3xl);
  }

  .contact__description {
    font-size: var(--size-base);
  }

  .contact__btn {
    font-size: var(--size-base);
  }

  .use_tech {
    width: 5rem;
    height: 5rem;
    font-size: var(--size-sm);
  }

  .logo-con {
    width: 5rem;
    height: 5rem;
  }
}

/* sm */
@media (min-width: 640px) {
  .about_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "img desc";
    padding-bottom: 1rem;
  }
  .img {
    grid-area: img;
  }

  .desc {
    grid-area: desc;
    padding-top: 2rem;
    padding-right: 1rem;
  }

  .tech {
    grid-template-columns: repeat(5, 1fr);
  }

  .logo-con {
    width: 6rem;
    height: 6rem;
  }

  .website {
    width: 26rem;
    height: 26rem;
  }

  .use_tech {
    width: 6rem;
    height: 6rem;
  }
}

/* md */
@media (min-width: 768px) {
  .about_img {
    width: 20rem;
    height: 27rem;
  }

  .tech {
    grid-template-columns: repeat(8, 1fr);
  }

  .featured_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .featured-con {
    border-right: 1px solid var(--clr-slate600);
  }

  .featured-tech {
    padding-top: 1.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .use_tech {
    width: 3.5rem;
    height: 3.5rem;
    font-size: var(--size-xs);
  }

  .logo-con {
    width: 3.5rem;
    height: 3.5rem;
  }

  .screenshot-con {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .project_link-con {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "website title"
      "website details"
      "website ptech"
      "website links";
    margin-bottom: 0;
    place-items: center;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .website {
    grid-area: website;
    width: 22rem;
    height: 22rem;
  }
  .title {
    grid-area: title;
    padding-top: 2rem;
  }
  .details {
    grid-area: details;
    padding-top: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 0;
  }
  .ptech {
    grid-area: ptech;
  }
  .links {
    grid-area: links;
    padding-bottom: 2rem;
    gap: 3rem;
  }

  .opposite {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "title website"
      "details website"
      "ptech website"
      "links website";
    place-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* lg */
@media (min-width: 1024px) {
  .hero_img {
    width: 8rem;
    height: 8rem;
  }

  .hero_subtitle {
    font-size: var(--size-3xl);
  }

  .hero_title {
    font-size: var(--size-8xl);
  }

  .hero_description {
    font-size: var(--size-xl);
  }

  .about_content {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .about_title {
    font-size: var(--size-4xl);
  }

  .description {
    font-size: var(--size-lg);
  }

  .about_img {
    width: 23rem;
    height: 30rem;
  }

  .featured-con {
    margin-right: 1rem;
  }

  .use_tech {
    width: 5rem;
    height: 5rem;
    font-size: var(--size-base);
  }

  .featured_text {
    font-size: var(--size-xl);
  }

  .tech {
    grid-template-columns: repeat(8, 1fr);
  }

  .logo-con {
    width: 5rem;
    height: 5rem;
  }

  .project_title {
    font-size: var(--size-4xl);
  }
  
  .project_name {
    font-size: var(--size-3xl);
  }
  
  .project_description {
    font-size: var(--size-lg);
  }

  .project_link-con {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .website {
    width: 24rem;
    height: 24rem;
  }

  .contact_title {
    font-size: var(--size-4xl);
  }

  .contact_description {
    font-size: var(--size-lg);
  }
}

/* xl */
@media (min-width: 1280px) {
  .hero {
    gap: 2rem;
  }

  .hero_img {
    width: 9rem;
    height: 9rem;
  }

  .about_content {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .featured-con {
    margin-right: 5rem;
  }

  .use_tech {
    width: 6rem;
    height: 6rem;
  }

  .logo-con {
    width: 6rem;
    height: 6rem;
  }

  .project_link-con {
    padding-left: 13rem;
    padding-right: 13rem;
  }

  .website {
    width: 26rem;
    height: 26rem;
  }

  .contact {
    gap: 2rem;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .about_content {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .use_tech {
    width: 7rem;
    height: 7rem;
  }

  .logo-con {
    width: 7rem;
    height: 7rem;
  }

  .project_link-con {
    padding-left: 19rem;
    padding-right: 19rem;
  }

  .website {
    width: 28rem;
    height: 28rem;
  }
}
