.theme_toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  height: var(--size-xl);
  width: var(--size-xl);
  color: var(--clr-light);
  transition: .3s ease-out;
  padding: 0;
  cursor: pointer;
}

.theme_toggle:hover {
  color: var(--clr-pink);
}