.theme_toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  height: var(--size-base);
  width: var(--size-base);
  color: var(--clr-light);
  transition: .3s ease-out;
  padding: 0;
  cursor: pointer;
}

.theme_toggle:hover {
  color: var(--clr-pink);
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  .theme_toggle {
    height: var(--size-sm);
    width: var(--size-sm);
  }
}

/* lg */
@media (min-width: 1024px) {
  .theme_toggle {
    height: var(--size-base);
    width: var(--size-base);
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */